//header
header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 75px;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--bg-primary);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);

    .logo {
        margin-left: 20px;
        cursor: pointer;
        transition: 300ms;
        &:hover { color: var(--color-primary); }

        .icon {
            vertical-align: middle;
        }
    }

    .menu-wrap {
        margin-right: 20px;
        display: none;
        @media all and (max-width: 620px) {
            display: block;
        }

        .menu-icon {
            color: var(--color-tertiary);
            font-size: 40px;
            cursor: pointer;
            transition: 300ms;
            &:hover { color: var(--color-primary);}
        }

        .close-icon {
            color: var(--color-tertiary);
            font-size: 40px;
            cursor: pointer;
            &:hover { color: var(--color-primary);}

            display: none;
        }
    }

    nav {
        @media all and (max-width: 620px) {
            display: none;
        }
        margin-right: 20px;

        ul {
            display: flex;
            gap: 20px;
            li {
                list-style-type: none;
                a {
                    text-decoration: none;
                    color: var(--color-tertiary);
                    transition: 200ms;
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}
.show {
    .menu-wrap {
        display: block;

        .menu-icon {
            display: none;
        }

        .close-icon {
            display: block;
        }
    }

    nav {
        display: flex;
        height: 100vh;
        width: 100%;
        background: var(--bg-primary);
        color: var(--bg-primary);

        position: absolute;
        border-top: 1px solid rgba(0, 0, 0, 0.1);;
        top: 75px;

        animation: menu-transition .3s forwards;

        @keyframes menu-transition {
            0% {left: -100%;}
            100% {left: 0%;}
        }

        ul {
            flex-direction: column;
            margin-top: 60px;
            gap: 30px;
        }
    }
}


//main content
main {
    .home-section {
        min-height: calc(100vh - 75px);
        background: var(--bg-secondary);

        .container {
            .hero {
                margin-top: auto;
                padding-top: 50px;
                padding-bottom: 50px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                display: flex;
                justify-content: center;
                align-items: center;
                @media all and (max-width: 800px) {
                    flex-direction: column;
                }
                
                .text-wrap {
                    width: 50%;
                    @media all and (max-width: 800px) {
                        text-align: center;
                        order: 2;
                        width: 100%;
                    }

                    h1 { 
                        font-weight: 800; 
                        margin-bottom: 0;
                        font-size: 75px;
                        @media all and (max-width: 620px) {
                            font-size: 50px;
                        }

                    }

                    p {
                        color: var(--color-tertiary);
                    }
                    .icon-wrap {
                        .icon {
                            font-size: 30px;
                            margin-right: 10px;
                            cursor: pointer;
                            color: var(--color-tertiary);
                            transition: 300ms;
                            &:hover {
                                color: var(--color-primary);
                            }
                        }
                    }
                }
                .photo-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;
                    @media all and (max-width: 620px) {width: 90%;}
                    img {
                        width: 300px;
                        @media all and (max-width: 390px) {width: 100%;}
                        
                        animation: border 10s ease-in-out infinite;
                        @keyframes border {
                            0% {
                                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                            }
                            50% {
                                border-radius: 70% 30% 30% 70% / 80% 70% 30% 30%;
                            }
                            100% {
                                border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
                            }
                        }
                    }
                }
            }
    
            .stack {
                padding-top: 50px;
                padding-bottom: 50px;
                margin-bottom: auto;

                display: flex;
                margin-left: 0;
                margin-right: auto;
                @media all and (max-width: 800px) {
                    margin-left: auto;
                    flex-direction: column;
                    align-items: center;
                }

                .skills {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 10px;

                    .wrap {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--bg-primary);
                        width: 60px;
                        height: 60px;
                        border-radius: 100%;
                        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
                        img {
                            background: var(--bg-primary);
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
    .projects-section {
        background: var(--bg-tertiary);
        min-height: 1000px;
       
        .container {
            margin-top: 50px;
            margin-bottom: 50px;

            .project-wrap {
                display: flex;
                height: 100%;
                border-radius: 20px;
                background: var(--bg-primary);
                box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
                margin-top: 25px;
                margin-bottom: 25px;

                @media all and (max-width: 1100px) {
                    flex-direction: column;
                    width: 600px;
                }
                @media all and (max-width: 695px) {
                    width: 100%;
                    height: 100%;
                }

                .image-wrap {
                    width: 60%;
                    aspect-ratio: 16/9;
                    margin: 35px;
                    overflow: hidden;
                    border-radius: 15px;
                    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);

                    @media all and (max-width: 1100px) {
                        width: 530px;
                    }
                    @media all and (max-width: 700px) {
                        width: calc(100% - 70px);
                        height: auto;
                    }
                    @media all and (max-width: 620px) {
                        width: calc(100% - 30px);
                        height: auto;
                        margin: 15px;
                    }

                    img {
                        width: 100%;
                    }

                    .pokemon {
                        transition: 6s ease-in-out;
                        &:hover {
                            transform: translateY(-56%);
                        }
                    }
                    .crypto {
                        transition: 12s ease-in-out;
                        &:hover {
                            transform: translateY(-80%);
                        }
                    }
                    .task {
                        transition: 4s ease-in-out;
                        &:hover {
                            transform: translateY(-36%);
                        }
                    }

                    
                }

                .info-wrap {
                    width: 40%;
                    height: 298px;
                    margin: 35px;
                    color: var(--color-tertiary);

                    text-align: center;

                    @media all and (max-width: 1100px) {
                        width: calc(100% - 70px);
                    }
                    
                    @media all and (max-width: 620px) {
                        width: calc(100% - 30px);
                        height: auto;
                        aspect-ratio: 16/9;
                        margin: 15px;
                    }
                    
                    .text {
                        margin: 10px;
                        height: calc(100% - 130px);
                        h3 {
                            color: var(--color-secondary);
                        }
                    }

                    .skills-wrap {
                        margin: 10px;
                        margin-bottom: 20px;
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        img {
                            width: 30px;
                        }
                    }

                    .links {
                        margin: 10px;

                        display: flex;  
                        justify-content: center;

                        gap: 10px;

                        a {
                            color: var(--color-tertiary);
                            text-decoration: none;
                            &:hover { color: var(--color-primary); }
                        }
                    }
                }
            }
        }
    }
    .contact-section {
        min-height: 200px;
        width: 100%;

        h2 {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            width: 100%;
            margin-top: 25px;
            margin-bottom: 50px;
            .location-wrap {
                display: flex;
                align-items: center;
                @media all and (max-width: 660px) {
                    margin-left: 0;
                }
                @media all and (max-width: 380px) {
                    display: block;
                }
                .icon {
                    font-size: 50px;
                    padding-right: 20px;
                }
                .text {
                    h4 {
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        color: var(--color-tertiary);
                    }
                }
            }
    
            .email-wrap {
                display: flex;
                align-items: center;
                margin-right: 0;
                margin-left: auto;
                @media all and (max-width: 660px) {
                    margin-left: 0;
                }
                @media all and (max-width: 380px) {
                    display: block;
                }
                
                .icon {
                    font-size: 50px;
                    padding-right: 20px;
                }
                .text {
                    h4 {
                        margin: 0;
                    }
                    a {
                        margin: 0;
                        text-decoration: none;
                        color: var(--color-tertiary);
                    }
                }
            }
        }
    }
    
}


//footer
footer {
    margin-top: auto;
    margin-bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--bg-secondary);
    height: 150px;

    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-inline: 40px;
        width: 1100px;
        @media all and (max-width: 1100px) {width: 100%;}
        @media all and (max-width: 620px) {margin-inline: 20px;}
 
        .copy {
            font-size: 20px;
            color: var(--color-tertiary);
        }

        .links {
            
            .icon {
                font-size: 30px;
                margin-left: 10px;
                color: var(--color-tertiary);
                &:hover {
                    color: var(--color-primary);
                }
            }
        }
    }
}